argon2-cffi-bindings==21.2.0
sympy==1.12
scipy==1.13.1
nbformat==5.9.2
ipykernel==6.28.0
contourpy==1.2.0
soupsieve==2.5
rpds-py==0.10.6
torchvision==0.19.0
torch==2.4.0
matplotlib-inline==0.1.6
rfc3339-validator==0.1.4
jupyterlab_server==2.25.1
webcolors==24.8.0
fastjsonschema==2.16.2
python-json-logger==2.0.7
ipython==8.25.0
webencodings==0.5.1
imageio==2.33.1
imageio==2.34.2
mistune==2.0.4
jupyter-lsp==2.2.0
sentry-sdk==2.16.0
protobuf==5.28.2
jupyterlab==4.0.11
PyVirtualDisplay==3.0
packaging==24.1
websocket-client==1.8.0
jupyterlab-widgets==3.0.10
PySocks==1.7.1
cycler==0.11.0
jupyter_server_terminals==0.4.4
PyQt5-sip==12.13.0
Brotli==1.0.9
jupyter==1.0.0
proglog==0.1.9
async-lru==2.0.4
fonttools==4.51.0
cloudpickle==3.0.0
wheel==0.43.0
Shimmy==0.2.1
pandocfilters==1.5.0
Send2Trash==1.8.2
fsspec==2024.6.1
zipp==3.19.2
mkl-service==2.4.0
jsonpointer==3.0.0
Babel==2.11.0
jupyter-console==6.6.3
mkl-fft==1.3.8
jupyterlab_citation_manager==1.0.0
notebook==7.0.8
moviepy==1.0.3
arrow==1.3.0
mpmath==1.3.0
matplotlib==3.8.4
platformdirs==3.10.0
ipywidgets==8.1.2
isoduration==20.11.0
AutoROM==0.4.2
torchinfo==1.8.0
AutoROM.accept-rom-license==0.6.1
fqdn==1.5.1
urllib3==2.2.2
wandb==0.18.3
types-python-dateutil==2.9.0.20241003
smmap==5.0.1
pyparsing==3.0.9
anyio==4.2.0
pandas==2.2.3
qtconsole==5.5.1
docker-pycreds==0.4.0
importlib_resources==6.4.0
executing==0.8.3
jsonschema==4.19.2
json5==0.9.6
gymnasium==0.29.1
QtPy==2.4.1
python-dateutil==2.9.0.post0
wcwidth==0.2.5
pycparser==2.21
mujoco==3.2.0
prometheus-client==0.14.1
comm==0.2.1
jedi==0.19.1
pure-eval==0.2.2
triton==3.0.0
gmpy2==2.1.2
filelock==3.13.1
sip==6.7.12
swig==4.2.1
terminado==0.17.1
Farama-Notifications==0.0.4
asttokens==2.0.5
beautifulsoup4==4.12.3
widgetsnbextension==4.0.10
pexpect==4.8.0
decorator==5.1.1
glfw==2.7.0
docutils==0.17.1
six==1.16.0
MarkupSafe==2.1.3
nbclient==0.8.0
jsonschema-specifications==2023.7.1
argon2-cffi==21.3.0
cffi==1.16.0
jupyter-events==0.10.0
Pygments==2.15.1
charset-normalizer==3.3.2
unicodedata2==15.1.0
nbconvert==7.10.0
prompt-toolkit==3.0.43
jupyter_server==2.14.1
sniffio==1.3.0
GitPython==3.1.43
notebook_shim==0.2.3
etils==1.9.2
certifi==2024.8.30
typing_extensions==4.11.0
tzdata==2024.2
box2d-py==2.3.5
referencing==0.30.2
psutil==5.9.0
stack-data==0.2.0
tqdm==4.66.4
networkx==3.3
overrides==7.4.0
ptyprocess==0.7.0
traitlets==5.14.3
rfc3986-validator==0.1.1
debugpy==1.6.7
parso==0.8.3
bleach==4.1.0
opencv-python==4.10.0.84
PyOpenGL==3.1.7
click==8.1.7
PyQt5==5.15.10
torchaudio==2.4.0
attrs==23.1.0
numpy==1.26.4
jupyterlab-citation-data==0.1
idna==3.7
jupyter_core==5.7.2
imageio-ffmpeg==0.5.1
jupyter_client==8.6.0
pip==24.0
tinycss2==1.2.1
pyzmq==25.1.2
setproctitle==1.3.3
defusedxml==0.7.1
uri-template==1.3.0
setuptools==69.5.1
requests==2.32.3
pillow==10.4.0
Jinja2==3.1.4
PyYAML==6.0.1
pygame==2.6.0
nest-asyncio==1.6.0
pytz==2024.1
gitdb==4.0.11
ply==3.11
ale-py==0.8.1
kiwisolver==1.4.4
absl-py==2.1.0
jupyterlab-pygments==0.1.2
mkl-random==1.2.4
tornado==6.4.1
